
@import "tailwindcss";

:root {
  /* Light theme */
  --background: #ffffff;
  --foreground: #171717;
  --card: #ffffff;
  --card-foreground: #171717;
  --primary: #0070F3;
  --primary-foreground: #ffffff;
  --muted: #f9fafb;
  --muted-foreground: #6b7280;
  --border: #e5e7eb;
}

.dark {
  /* Dark theme */
  --background: #0a0a0a;
  --foreground: #ededed;
  --card: #171717;
  --card-foreground: #ededed;
  --primary: #3b82f6;
  --primary-foreground: #ffffff;
  --muted: #262626; 
  --muted-foreground: #a3a3a3; 
  --border: #404040; 
  --border-muted: #6b7280; 
}


@theme inline {
  --background: var(--background);
  --foreground: var(--foreground);
  --color-blue-400: #2589FE;
  --color-blue-500: var(--primary);
  --color-blue-600: #2F6FEB;

  /* fonts */
  --font-sans: "Inter", Arial, Helvetica, sans-serif;
  --font-serif: "Lusitana", serif;




  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }

  --animate-shimmer: shimmer 2s infinite linear;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition: background-color 0.3s ease, color 0.3s ease;
}


.bg-custom-background {
  background-color: var(--background);
}

.bg-custom-card {
  background-color: var(--card);
}

.bg-custom-muted {
  background-color: var(--muted);
}

.text-custom-foreground {
  color: var(--foreground);
}

.text-custom-card-foreground {
  color: var(--card-foreground);
}

.text-custom-muted-foreground {
  color: var(--muted-foreground);
}

.border-custom {
  border-color: var(--border);
}

.border-muted {
  border-color: var(--border-muted);
}